@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: DM Sans, sans-serif;
    width: 95%;
    margin: auto;
  .banner{
    width: 1000px;
    padding: 40px 0px 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    @include mobile{
      width: 100%;
      padding: 40px 25px;
    }
    @include tablet{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    .logo{
      width: 200px;
      height: 50px;
      @include mobile{
        width: 150px;
        height: 37px;
      }
      @include tablet{
        align-items: center;
      }
    }
    nav{
      @include mobile{
        margin: 25px auto;
      }
      @include tablet{
        margin: 25px auto;
      }
      .scroll-up{
        position: fixed;
        text-decoration: none;
        top: 20px;
        left: 45%;
        color: #000;
        background-color: #DB8876;
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        display: none;
        @include mobile{
          top:2px;
          left: 30%;
        }
        @include tablet{
          left: 40%;
        }
      }
      .tags{
        display: flex;
        justify-content: center;
        @include mobile{
          flex-wrap: wrap;
        }
        }
    }
    
    }
    main{
      width: 98%;
      margin: auto;
    .heading{
      position: absolute;
      left: 1150px;
      top:55px;
      font-size:20px;
      color: $primaire;
      font-weight: 100;
      @include mobile{
        font-size: 15px;
        left: 60%;
        top: 50px;
      }
      @include tablet{
        left: 70%;
        top: 50px;
      }
    }
    .photographes{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 50px 20px; 
      .photographer{
        width: calc(100% / 3);
        text-align: center;
        padding-top: 30px;
        @include mobile{
          width: auto;
        }
        @include tablet{
          width: auto;
          margin: 20px;
        }
      a{
        text-decoration: none;
        img{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        }
      .photographer-name{
        color:  #D3573C;
        line-height: 46px;
        font-weight: 400;
        margin-top: 20px;
        font-size: 36px;
      }
      }
      .city{
        display: block;
        color: $primaire;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
      }
      .desc{
        display: block;
        font-weight: 400;
        font-size: 10px;
        line-height: 13px;
        margin-top: 2px;
      }
      .price{
        display: block;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        color: #757575;
        margin-top: 5px;
      }
      .tags{
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }
      }
    }
    }  
  }

