@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:  DM Sans, sans-serif;
  .banner{
    padding: 40px 0px 40px 70px;
    @include mobile{
      padding: 40px 0px 40px 40px;
    }
    @include tablet{
      padding: 40px 0px 40px 40px;
    }
    .logo{
      width: 200px;
      height: 50px;
      @include mobile{
        width: 150px;
        height: 37px;
      }
      @include tablet{
        align-items: center;
      }
  }
  }
  .photographer-header{
    width: 90%;
    margin: auto;
    display: flex;
    // justify-content: flex-start;
    background-color: #FAFAFA;
    padding: 50px 20px 30px 30px;
    @include mobile{
      width: 100%;
      background-color: #fff;
    }
    .photographer-profile{
      margin-right: 60px;
      @include mobile{
        width: 50%;
      }
      .photographer-name{
        font-size: 64px;
        color:#D3573C;
        font-weight: 400;
        @include mobile{
          font-size: 36px;
        }
      }
      .city{
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 24px;
        color: #901C1C;
        @include mobile{
          font-size: 13px;
          margin-bottom: 0;
        }
      }
      .desc{
        font-weight: 400;
        font-size: 18px;
        color:#525252;
        @include mobile{
          font-size: 13px;
        }
      }
      .tags{
        margin-top: 10px;
        display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        }
    }
    .user{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      align-self: flex-end;
      margin-left: auto;
      @include mobile{
        align-self: stretch;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    .bground{
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      overflow: auto;
      display: none;
      .content{
        margin: 5% auto;
        width: 100%;
        max-width: 550px;
        background-color:  #DB8876;
        overflow: hidden;
        position: relative;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 15px #666;
        h1{
          font-weight: 400;
          font-size: 55px;
        }
        .close-btn{
          position: absolute;
          top: 35px;
          right: 15px;
          background-color: #DB8876;
          border: 0px;
          color: #fff;
          height: 42px;
          width: 42px;
          font-weight: 500;
          font-size: 30px;
          cursor: pointer;
        }
        label{
          font-size: 30px;
          font-weight: 400;
        }
        input{
          width: 100%;
          height: 50px;
          border-radius: 5px;
          outline: none;
          font-size: 30px;
          border-color: transparent;
        }
        textarea{
          width: 100%;
          border-radius: 5px;
          outline: none;
          border-color: transparent;
          font-size: 30px;
        }
        .btn-submit{
          margin-top: 10px;
          width: 170px;
          height: 50px;
          border-radius: 5px;
          background-color: $primaire;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          border:1px solid $primaire;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  .sort-by{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    @include mobile{
      display: none;
    }
    .sort-label{
      font-weight: 700;
      font-size: 18px;
      margin-right: 20px;
      margin-top: 10px;
    @include mobile{
      display: none;
    } 
    }
    .sort-btn{
    width: 165px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    background-color: $primaire;
    border: 1px solid $primaire;
    border-radius: 5px;
    color: #fff;
    outline: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
      width: 20px;
      height: 20px;
      margin-left: 20px;
      padding-top: 5px;
    }
    &:hover{
      background-color:#651414 ;
    }
    @include mobile{
      display: none;
    }
    }
    .sort-list{
      position: absolute;
      left: 169px;
      top: 440px;
      list-style: none;
      width: 166px;
      border-radius: 5px;
      display: none;
      z-index: 1;
      .sort-item{
        background-color: $primaire;
        padding: 20px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        &:nth-child(1){
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        }
        &:nth-child(3){
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &:not(:last-child){
          border-bottom: 1px solid #fff;
        }
        &:hover{
          background-color: #651414;
        }
      svg{
        width: 20px;
        height: 20px;
      }
      }
    }
    }
    .gallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      margin-top: 50px;
      @include mobile{
        margin-top: 0;
      }
      @include tablet{
        justify-content: space-around;
      }
      .gallery-item{
        width: 350px;
        margin-top: 30px;
        @include mobile{
          width: 100%;
        }
        .linksourc{
          .item{
            width: 350px;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
            @include mobile{
              width: 100%;
              height: 190px;
            }
          }
        }
        }
        .info-item{
          display: flex;
          width: 100%;
          @include mobile{
            margin-top: 5px;
          }
          @include tablet{
            margin-top: 5px;
          }
        }
        h2{
          font-weight: 400;
          font-size: 24px;
          color: $primaire;
          margin-right: auto;
        }
        .likes{
          width: 24px;
          height: 24px;
          cursor: pointer;
          margin-left:5px ;
          margin-top: 2px;

        }
        .numberOflikes{
          color: $primaire;
          font-size: 24px;
        }
      }
      .data{
        position: fixed;
        bottom: 0;
        right: 20px;
        width: 367px;
        height: 79px;
        background-color: #DB8876;
        display: flex;
        // justify-content: space-between;
        border-top-right-radius:5px ;
        border-top-left-radius: 5px;
        @include mobile{
          display: none;
        }
        span{
          align-self: center;
          margin: 0 20px;
          font-weight: 500;
          font-size: 24px;
          
        }
        svg{
          width: 25px;
          height: 25px;
          margin-right: auto;
          align-self: center;
          path{
            fill: #000;
          }
        }
      }
      .lightbox-modal{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: #fff;
        display: none;
        .close-lightBox{
          background-color: #fff;
          color: $primaire;
          // font-size: 30px;
          border: none;
          position: absolute;
          top: 70px;
          right: 20%;
          width: 20px;
          height: 20px;
          background: url("/media/timesSolid.svg") no-repeat center/cover;
          cursor: pointer;
          z-index: 2;
          @include tablet{
            right: 150px;
            top: 100px;
          }
          @include mobile{
            top: 34%;
            right: 10px;
          }
        }
        .container-gallery{
          position: absolute;
          top: 10%;
          bottom: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          @include mobile{
            top: 35%;
            bottom: 50%;
          }
          .media-Item{
            width: 50%;
            height: 600px;
            object-fit: cover;
            align-self: center;
            margin: auto;
            @include mobile{
              height: 250px;
              width: 80%;
              margin: auto;
            }
          }
          .title{
            color: $primaire;
            position: absolute;
            top: 100%;
            left: 25%;
            font-size: 24px;
            font-weight: 400;
            margin-top: 5px;
            @include mobile{
              left: 10%;
            }
          }
        }
        .left-side{
          position: absolute;
          top: 50%;
          left: 20%;
          border: none;
          background-color: #fff;
          color: $primaire;
          font-size: 30px;
          font-weight: 700;
          width: 20px;
          height: 20px;
          background: url("/media/chevronleftsolid.svg") no-repeat center /cover;
          cursor: pointer;
          @include mobile{
            left: 10px;
          }
          @include tablet{
            top: 35%;
          }
        }
        .right-side{
          position: absolute;
          top: 50%;
          right: 20%;
          border: none;
          background-color: #fff;
          color: $primaire;
          font-size: 30px;
          font-weight: 700;
          width: 20px;
          height: 20px;
          background: url("/media/chevronrightsolid.svg") no-repeat center /cover;
          cursor: pointer;
          @include mobile{
            right: 10px;
          }
          @include tablet{
            top: 35%;
          }
        }
      }
  }
