
.tags-item{
  padding: 0px 5px;
  border: .5px solid #DBDBDB;
  border-radius: 20px;
  margin-right: 10px;
  list-style: none;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: $primaire;
  font-weight: 500;
  padding: 5px;
  @include mobile{
    margin-top: 8px;
  }
  &.selected{
    background: $primaire;
    border-color: $primaire;
    color: #fff;
  }
&:hover{
  background: $primaire;
  border-color: $primaire;
  color: #fff;
}

}