
.tags-item{
  border-radius: 11px;
  margin-right: 10px;
  list-style: none;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: $primaire;
  font-weight: 500;
  @include mobile{
    margin-top: 8px;
  }
.linkTags{
  color: $primaire;
  text-decoration: none;
  padding: 3px 5px;
  border: .5px solid #C4C4C4;
  border-radius: 11px;
  width: 100%;
  &:hover{
    background-color: $primaire;
    color: #fff;
  }
  &.selected{
    background: $primaire;
    border-color: $primaire;
    color: #fff;
    .linkTags{
      color: #fff;
    }
  }
}
}